.layout {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

label {
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

small {
  color: red;
  font-size: 12px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
