<div class="layout">

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile">
      <img src="https://i.pravatar.cc/100" alt="Profile">
      <h3>Sireeshan</h3>
      <p>Gundlupet, Karnataka</p>
    </div>

    <button class="logout-btn" (click)="logout()">Sign Out</button>
  </div>

  <!-- Complaint Form -->
  <div class="content">
    <div class="card">

      <h2>Create Complaint</h2>

      <form [formGroup]="complaintForm">

        <label>Complaint Type</label>
        <select formControlName="complaintType">
          <option value="">Select Complaint</option>
          <option>Meter Reading Issue</option>
          <option>Billing Issue</option>
          <option>Power Outage</option>
          <option>Voltage Fluctuation</option>
        </select>
        <small *ngIf="complaintForm.get('complaintType')?.touched && complaintForm.get('complaintType')?.invalid">
          Complaint type is required
        </small>

        <label>Consumer Id</label>
        <input
          type="text"
          formControlName="consumerId"
          placeholder="Enter Consumer ID"
        />
        <small *ngIf="complaintForm.get('consumerId')?.touched && complaintForm.get('consumerId')?.invalid">
          Enter valid Consumer ID (6–12 digits)
        </small>

        <label>Description</label>
        <textarea
          rows="5"
          formControlName="description"
          placeholder="Enter complaint details"
        ></textarea>
        <small *ngIf="complaintForm.get('description')?.touched && complaintForm.get('description')?.invalid">
          Minimum 10 characters required
        </small>

        <button
          class="submit-btn"
          type="button"
          (click)="submitComplaint()"
          [disabled]="complaintForm.invalid || loading"
        >
          {{ loading ? 'Submitting...' : 'Create Complaint' }}
        </button>

      </form>

    </div>
  </div>

</div>
