/* .container {
  display: flex;
  height: 100vh;
}

.left {
  width: 40%;
  padding: 60px;
}

.right {
  width: 60%;
  background: url('/assets/electricity.jpg') center/cover no-repeat;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: white;
  border: none;
}

.error {
  color: red;
  font-size: 13px;
}

/* body {
  background: #eef2f3;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://cdn.newsfirst.lk/english-uploads/2022/08/Electricity%202-690559.jpg");
  background-size: cover;
} */

/* body {
  margin: 0;
  background-image: url("https://cdn.newsfirst.lk/english-uploads/2022/08/Electricity%202-690559.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */ */










.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f6ff;
}

.card {
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #1e3c72;
}

p {
  text-align: center;
  color: gray;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #999;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
