<div class="container">
  <div class="card">
    <h2>Electricity Bill Management</h2>
    <p>Login using OTP</p>

    <form [formGroup]="otpForm">

      <!-- Phone -->
      <label>Phone Number</label>
      <input
        type="text"
        maxlength="10"
        formControlName="phone"
        placeholder="Enter phone number"
      />

      <div class="error"
        *ngIf="otpForm.get('phone')?.touched && otpForm.get('phone')?.invalid">
        Phone must start with 6-9 and be 10 digits
      </div>

      <button
        type="button"
        (click)="generateOtp()"
        [disabled]="otpForm.get('phone')?.invalid || loading">
        {{ loading ? 'Sending OTP...' : 'Generate OTP' }}
      </button>

      <!-- OTP -->
      <div *ngIf="otpGenerated">
        <label>OTP</label>
        <input
          type="text"
          maxlength="4"
          formControlName="otp"
          placeholder="Enter OTP"
        />

        <div class="error"
          *ngIf="otpForm.get('otp')?.touched && otpForm.get('otp')?.invalid">
          OTP must be exactly 4 digits
        </div>

        <button
          type="button"
          (click)="verifyOtp()"
          [disabled]="otpForm.invalid || loading">
          {{ loading ? 'Verifying...' : 'Verify OTP' }}
        </button>
      </div>

      <div class="error" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

    </form>
  </div>
</div>
