.layout {
  display: flex;
  min-height: 100vh;
  background: #f6f6f6;
}

.sidebar {
  width: 260px;
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
}

.btn-logout {
  width: 100%;
  margin-top: 40px;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: #f7dada;
  font-size: 16px;
}

.content {
  flex: 1;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-create {
  background: #ff8c8c;
  border: none;
  padding: 10px 18px;
  border-radius: 14px;
  color: white;
}

.active-box {
  display: flex;
  justify-content: space-between;
  background: #e2ffd6;
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  align-items: center;
}

.btn-view {
  background: #6fb84d;
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  color: white;
}

.mt {
  margin-top: 40px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #e2ffd6;
  padding: 14px;
  text-align: left;
}

td {
  padding: 14px;
}

.alt {
  background: #ececec;
}

.status {
  padding: 6px 14px;
  border-radius: 20px;
}

.status.open {
  background: #ffd6d6;
}

.status.closed {
  background: #caffbf;
}

.status.assigned {
  background: #cce7ff;
}
