.layout {
  display: flex;
  height: 100vh;
  background: #f1f5f9;
}

.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 90px;
  border-radius: 50%;
}

.btn-outline, .btn-logout {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn-logout {
  background: #ef4444;
  border: none;
  color: white;
}

.content {
  flex: 1;
  padding: 40px;
}

.pending {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.card-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 450px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 10px;
}

.pay-btn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
